[mysqld]
# Set innodb_buffer_pool_sizebuffer_pool_size to 50 % of buffer pool size
# Set innodb_log_file_size to 25 % of buffer pool size
# Set innodb_flush_log_at_trx_commit = 1 for full ACID compliance

# Example for low-memory settings
#innodb_buffer_pool_size = 16M
#innodb_additional_mem_pool_size = 2M
#innodb_log_file_size = 4M
#innodb_log_buffer_size = 1M

innodb_buffer_pool_size = 64M
innodb_flush_log_at_trx_commit = 2
